Source: ros-indigo-world-canvas-server
Section: misc
Priority: extra
Maintainer: Jorge Santos Simón <jsantossimon@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/world_canvas_server
Standards-Version: 3.9.2

Package: ros-indigo-world-canvas-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pymongo, ros-indigo-nav-msgs, ros-indigo-rospy, ros-indigo-rostest, ros-indigo-visualization-msgs, ros-indigo-warehouse-ros, ros-indigo-world-canvas-msgs, ros-indigo-world-canvas-utils
Description: Storage manager and server for WCF semantic maps.
